* {
  margin: 0;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
  font-size: 26px;
  font-weight: 500;
}

p {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 360px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 7px;
}

input,
button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

input:focus {
  outline: 1px solid #444;
}

.btn {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise {
  flex: 1;
  text-align: center;
}

.board.visible {
  max-width: 360px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 7px;
}
